<form action="/#/status">
    <div>
        <div class="form-item" id="edit-mail-wrapper">
            <label for="edit-mail">Email Address: <span class="form-required" title="This field is required.">*</span></label>
            <input type="text" maxlength="64" name="mail" id="edit-mail" size="60" value="" class="form-text required">
            <div class="description">A valid email address. All emails from the system will be sent to this address.</div>
        </div>
        <div class="form-item" id="edit-confirm-mail-wrapper">
            <label for="edit-confirm-mail">Confirm Email Address: <span class="form-required" title="This field is required.">*</span></label>
            <input type="text" maxlength="64" name="confirm_mail" id="edit-confirm-mail" size="60" value="" class="form-text required">
            <div class="description">Please retype your email address so we can verify you entered it correctly.</div>
        </div>
        <div class="form-item" id="edit-field-user-profile-first-name-0-value-wrapper">
          <label for="edit-field-user-profile-first-name-0-value">First Name: <span class="form-required" title="This field is required.">*</span>
          </label>
          <input type="text" name="field_user_profile_first_name[0][value]" id="edit-field-user-profile-first-name-0-value" size="60" value="" class="form-text required text">
        </div>
        <div class="form-item" id="edit-field-user-profile-first-name-0-value-wrapper">
          <label for="edit-field-user-profile-first-name-0-value">Last Name: <span class="form-required" title="This field is required.">*</span>
          </label>
          <input type="text" name="field_user_profile_first_name[0][value]" id="edit-field-user-profile-first-name-0-value" size="60" value="" class="form-text required text">
        </div>
        <div class="form-item" id="edit-field-user-profile-phone-office-0-value-wrapper">
          <label for="edit-field-user-profile-phone-office-0-value">Office Phone: </label>
          <input type="text" name="field_user_profile_phone_office[0][value]" id="edit-field-user-profile-phone-office-0-value" size="60" value="" class="form-text text">
        </div>
</form>
